<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>On Games</title>
    <meta name="author" content="Spyros"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="homepage.css" />
  </head>
  <body>
    
    <div class="titel">
      <!--Change the main header in the following line-->
      <h1>
         [On Games]
      </h1>
    </div>

    NAVIGATION-BAR
    
    <div class="main">
    <br>Spyridon Samothrakis</br>
    Ph.D Student @ University of Essex<br><b>email</b>: ssamot [at] essex [dot] ac&nbsp;[dot] uk <br style="font-weight: bold;"><span style="font-weight: bold;">Academic Publications</span><br>
     PUBLICATIONS-REPLACE
    </div>
    <div class="footer">
   
    </div>
    <br />
  </body>
</html>